*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
   body {
    background-image: url('image\ 6.jpeg');
    background-size: cover;
    font-family: 'Arial', sans-serif;
    
    justify-self:center ;
    align-items: center;
   
   
  } 
  .logo {
    color: white;
    font-size: 30px;
    font-family: serif;
    
  margin-left: 580px;
  margin-top: 20px;
  }
  
  .l-o{
    color: rgb(0, 255, 204);
  }
  /* .logo p p{
    color: #ff0000;
  } */
  .logo p{
    display: inline;
  }
  .logo span {
    /* color: #0073ff; */
    color: #00ff48;
  }
  
  .navbar {
    position: sticky;
    position: fixed;
    background-color:  #141d28;
    /* border-radius: px; */
    /* height: 30px; */
    /* height: 80px; */
    height: 110px;
    margin-bottom: 50px;
    /* width: 100%; */
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-bottom:  -500px; ;
  
    position: relative;
  }

  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    /* width: 120px; */
    padding: 1px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .navbar ul li a {
    /* font-size: 20px; */
    font-size: 20px;
    color:  #e9e9e9;
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .navbar ul li a:hover {
    color: #00ffff;
  }

  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  
  .navbar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #141d28;
  }
  
  .navbar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .navbar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }

  /* .all{
    color: #ffffff;
  } */
  .all{
    padding-top :30px;

  }

  .all h1{
    margin-left :50px;
    color: #ff0000;

  }

  .all p{
    margin-left :80px;
    color: rgb(0, 30, 255);
    text-shadow: #ffffff;
    text-decoration: double;
   

    

  }

  .container_of_home_page {
    max-width: 700px;
    align-content: center;
  margin-top: 50px;
  margin-left: 100px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);

  }

  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group textarea {
    height: 150px;
  }
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .f-btn {
    
    color: #fff;
    border: none;
    padding: 1px 2px;
    border-radius: 3px;
    cursor: pointer;
  } 
  .f-btn button{
    /* padding-left: auto;
    padding-right: auto; */
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity));
  
  
    border-radius: 0.25rem;
    width: 400px;
    margin-top: 2rem;
    margin-left:135px;
    text-align: center;
    padding-top: 0.5rem;
     padding-bottom: 0.5rem;
  
  }

                                          /* Styling for the footer */

footer
{
  margin-top: 100px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.738);
  padding: 90px;
  background-color: #ffffffe0;
  text-align: center;
  width: 100%; 
}

                               /* Ending of Styling for the footer */

                              
                   /* Start of Styling for the privacy section */
    /* .f-all{

    }

    .mix{
     float:left;

    }                */
    .privacy-section {
      /* text-align: center; */
      display: inline;
      color: blueviolet;
      /* align-items: center;
      /* justify-content: center; */
      
    } 

    .privacy-section:hover{
      cursor: pointer;
      color: rgb(0, 0, 0);
      
    } 

    .privacy-line {
      border-left: 2px solid #333;
      height: 20px;
      margin: 0 10px;
      display: inline;   
      
    }

    .tou{
      display: inline;
      color: blueviolet;
      border:2px #0073ff;
    }

    .tou:hover{
      color: rgb(0, 0, 0);
      cursor: pointer;
    }

    .f-logo{
      /* margin-left: 500px;
      margin-top:500px; */
      /* display: block; */
      /* border:2px #0073ff; */
      /* margin-right: 300px; */
      padding-bottom: 10px;
    }

    /* #f-logo{
      color: #141d28;
      border:2px #0073ff;
    }

    #f-logo span{
      color: #0073ff  ;

    } */

    /* .f-d{
      margin-left:1000px;
     border: 2px black;   
     padding-top: 50px; 
     display: flex;
    /* float:right;
     margin-bottom : px; 

    } */

    .social-icons {
      /* display: flex; */
      padding-right: 00px;
      margin-left  : 00px;
     
      margin-bottom: 0px;
      display: flex;
    }

    .social-icons a {
      margin: 0 20px;
      text-decoration: none;
      color: #333;
      font-size: 24px;
      
    }